.App {
    
    width: 100%;
    margin:  auto auto;
    height: 600px;
}

.Title {
    text-align: center;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
    font-size: 25px;
}

.FormContainer {
    width: 50%;
    margin: auto auto;
}

.AddItemForm {
    width: 400px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 12px 20px;
    box-sizing: border-box;
    height: 35px;
    border: 2px solid rgb(161, 161, 161);
    transition: 0.5s;
    outline: none;    
}
/* .AddItemForm:focus {
    border: solid 2px rgb(20, 218, 175);
} */


.AddItemBtn {
    height: 35px;
    width: 125px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid rgb(20,218,175);
    background-color: rgb(20,218,175);
    outline: none;
    transition-duration: 0.4s;
    text-transform: uppercase;
    color:white;
}
.AddItemBtn:hover {
    background-color: rgb(7, 148, 117);
    border: 2px solid rgb(7, 148, 117);
}
.completed  {
    text-decoration: line-through;
    opacity: 0.5;
}

.ListBtn {
    width: 40px;
    height: 40px;
    outline: none;
    font-size:20px;
    text-transform: uppercase;
    color: white;
    border: none;
    float: right;
}
.Check {
    background-color: rgb(20,218,175);
}  
.Check:hover {
    background-color: rgb(7, 148, 117);
    border:none;
}
.Cross {
    border: none;
    background-color: rgb(253, 65, 59);
}
.Cross:hover {
    background-color: rgb(241, 47, 41);
    border:none;
}

ul  {
    list-style-type: none;
    padding: 20px;
    width: 100%;
    margin: 20px auto 0px auto;
}
ul li {
    background-color: white;
    width: 700px;
    height: 40px;
    box-sizing: border-box;
    display: black;
    color: black;
    text-transform: uppercase;
    margin: 20px auto 0px auto;
}
